
@font-face {
  font-family: 'Nunito Sans';
  src: url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;1,300&display=swap');
  /* Повторите этот блок для каждого шрифта, который вы хотите подключить */
}
.FormPageLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}
.FormPageLayout__header {
  font-family: 'Nunito Sans', sans-serif;
  color: #2c555b;
  font-size: 20px;
  margin: 20px 0 20px 0;
}
.FormPageLayout__form {
  width: 800px;
}
.FormPageLayout__title {
  font-family: 'Nunito Sans', sans-serif;
  width: 100%;
  font-size: 28px;
  color: #2c555b;
  text-align: left;
  margin-bottom: 10px;
}

/* mobile */
@media (max-width: 800px) {
  .FormPageLayout__form {
    width: 100%;
    padding: 0 16px 0 16px;
   
  }
}