.FormPageLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}
.FormPageLayout__header {
  color: #2c555b;
  font-size: 20px;
  margin: 20px 0 20px 0;
}
.FormPageLayout__form {
  max-width: 800px;
}
.FormPageLayout__title {
  width: 100%;
  font-size: 24px;
  color: #2c555b;
  text-align: left;
  margin-bottom: 10px;
}
.FormPageLayout__label {
  position: relative;
}
.FormPageLayout__input {
  border-radius: 5px;
  border: 1px solid gray;
  width: 100%;
  height: 50px;
  color: black;
  font-size: 20px;
  padding-left: 15px;
}
::placeholder {
  color: #b2bdc7;
}
.FormPageLayout__helpblock {
  cursor: pointer;
  position: absolute;
  color: #b2bdc7;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}
