.FormPageLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}
.FormPageLayout__header {
  color: #2c555b;
  font-size: 20px;
  margin: 20px 0 20px 0;
}
.FormPageLayout__form {
  max-width: 800px;
}
.FormPageLayout__title {
  width: 100%;
  font-size: 24px;
  color: #2c555b;
  text-align: left;
  margin-bottom: 10px;
}

/* mobile */
@media (max-width: 800px) {
  .FormPageLayout__form {
    padding: 0 16px 0 16px;
  }

}