@font-face {
  font-family: 'Nunito Sans';
  src: url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;1,300&display=swap');
  /* Повторите этот блок для каждого шрифта, который вы хотите подключить */
}

.HeaderLayout {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  height: 60px;
  width: 100%;
  border-bottom: 0.1px solid #d3d3d3;
  color: #2c555b;

  position: relative;
}

.HeaderLayout__innerBlock {
  font-family: 'Nunito Sans', sans-serif;
  width: 800px;
  font-size: 20px;
  text-align: right;
  color: #2c555b;
}

.HeaderLayout__logo {
  position: absolute;
  left: 30px;

}

@media (max-width: 800px) {

  .HeaderLayout {
    padding: 0 16px 0 16px;
  }
}

@media (max-width: 450px) {

  .HeaderLayout__logo {
    position: absolute;
    left: 16px;
  }
}