.FooterLayout {
  display: flex;
  justify-content: center;

  background: #fff;
  bottom: 0px;
  box-shadow: 1px 0 11px rgba(0, 0, 0, 0.09);
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1;
  height: 106px;
}
.FooterLayout__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
}
.FooterLayout__input {
  border-radius: 5px;
  border: 1px solid gray;
  height: 50px;
  color: black;
  font-size: 20px;
  padding-left: 20px;
  padding-top: 18px;
  width: 430px
}
.FooterLayout__button {
  font-size: 24px;
  background: #0a7272;
  color: white;
  border: none;
  height: 60px;
  width: 332px;
  margin-left: 30px;
  border-radius: 10px;
}
.FooterLayout__helpblock {
  cursor: pointer;
  position: absolute;
  color: #b2bdc7;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.FooterLayout__newPLaceHolderBlock {
  position: absolute;
  left: 5.1%;
  top: 8%;
  font-size: 14px;
  color: #2C555B;
}
.FooterLayout__label {
  position: relative;
}
/* mobile */
@media (max-width: 800px) {
  .FooterLayout {
    width: 100%;
    height: 120px;
    padding: 0 16px 0 16px;
  }
  .FooterLayout__block {
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: stretch;
    min-width: 100%;
  }
  .FooterLayout__label {
    width: 100%;
  }
  .FooterLayout__input {
    width: 100%;
  }
  .FooterLayout__button {
    min-width: 100%;
    margin-left: 0;
  }

  .FooterLayout__newPLaceHolderBlock {
    position: absolute;
    left: 3.2%;
    top: 8%;
    font-size: 14px;
    color: #2C555B;
  }
}
