
.FooterLayout {
  display: flex;
  justify-content: center;

  background: #fff;
  bottom: 0px;
  box-shadow: 1px 0 11px rgba(0, 0, 0, 0.09);
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1;
  height: 106px;
}
.FooterLayout__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
}
.FooterLayout__input {
  font-family: 'DM Sans', sans-serif;
  border-radius: 5px;
  border: 1px solid #B2BDC7;
  height: 50px;
  color: black;
  font-size: 20px;
  padding-left: 20px;
  padding-top: 11px;
  width: 430px;
}
.FooterLayout__input::placeholder {
  /* смещение плейсхолдера влево на 10 пикселей */
  position: absolute;
  top: 11px;
  left: 20px;
  font-size: 20px;
  color: #B2BDC7;
  font-family: 'DM Sans', sans-serif;
}

.FooterLayout__input:focus {
  outline: none; /* Удалить контур при фокусе */
}
.FooterLayout__button {
   font-family: 'Nunito Sans', sans-serif !important;
  font-size: 24px;
  background: #0a7272;
  color: white;
  border: none;
  height: 60px;
  width: 332px;
  margin-left: 30px;
  border-radius: 10px;
}
.FooterLayout__button_withoutInput{

  font-family: 'Nunito Sans', sans-serif !important;
  font-size: 24px;
  background: #0a7272;
  color: white;
  border: none;
  height: 60px;
  min-width: 100%;
  border-radius: 10px;
}
.FooterLayout__helpblock {
  cursor: pointer;
  position: absolute;
  color: #b2bdc7;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.FooterLayout__newPLaceHolderBlock {
  position: absolute;
  left: 4.6%;
  top: 8%;
  font-size: 14px;
  color: #2C555B;
}
.FooterLayout__label {
  position: relative;
}
/* mobile */
@media (max-width: 800px) {
  .FooterLayout {
    width: 100%;
    height: 120px;
    padding: 0 16px 0 16px;
  }
  .FooterLayout__block {
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: stretch;
    min-width: 100%;
  }
  .FooterLayout__label {
    width: 100%;
  }
  .FooterLayout__input {
    width: 100%;
  }
  .FooterLayout__button {
    min-width: 100%;
    margin-left: 0;
  }

  .FooterLayout__newPLaceHolderBlock {
    position: absolute;
    left: 3.2%;
    top: 8%;
    font-size: 14px;
    color: #2C555B;
  }
}
@media (max-width: 800px) {
  .FooterLayout__newPLaceHolderBlock {
   left: 2.5%;
   
  }
}
@media (max-width: 750px) {
  .FooterLayout__newPLaceHolderBlock {
   left: 2.7%;
   
  }
}
@media (max-width: 700px) {
  .FooterLayout__newPLaceHolderBlock {
   left: 3.2%;
   
  }
}
@media (max-width: 600px) {
  .FooterLayout__newPLaceHolderBlock {
   left: 3.8%;
   
  }
}
@media (max-width: 500px) {
  .FooterLayout__newPLaceHolderBlock {
   left: 4.3%;
   
  }
}
@media (max-width: 450px) {
  .FooterLayout__newPLaceHolderBlock {
   left: 5%;
   
  }
}

@media (max-width: 400px) {
  .FooterLayout__newPLaceHolderBlock {
   left: 5.3%;
   
  }
}
@media (max-width: 350px) {
  .FooterLayout__newPLaceHolderBlock {
   left: 6.3%;
   
  }
}
@media (max-width: 300px) {
  .FooterLayout__newPLaceHolderBlock {
   left: 7%;
   
  }
}