.FormPageLayout__input_generic {
  font-family: "DM Sans", sans-serif;
  margin-top: 0;
  color: black;
  font-size: 20px;
  padding-left: 20px;
  padding-top: 11px;
  padding-bottom: 0;
  vertical-align: text-bottom;
  border: 1px solid #b2bdc7;
  width: 100%;
  height: 50px;
  color: #2c555b;
}

.FormPagelayout__select {
  caret-color: transparent;
}

.FormPageLayout__input_first {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.FormPageLayout__input_last {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.FormPageLayout__input_generic:focus {
  outline: none; /* Удалить контур при фокусе */
  border: 1px solid #7b7e80;
}

.FormPageLayout__input_generic::placeholder {
  position: absolute;
  top: 11px;
  left: 20px;
  font-size: 20px;
  color: #b2bdc7;
  font-family: "DM Sans", sans-serif;
}

.FormPageLayout__placeHolder {
  position: absolute;
  left: 2.5%;
  top: 4;
  font-size: 14px;
  color: #2c555b;
}

.FormPageLayout__helpblock {
  cursor: pointer;
  position: absolute;
  color: #b2bdc7;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}

/* mobile */

@media (max-width: 750px) {
  .FormPageLayout__placeHolder {
    left: 3%;
  }
}

@media (max-width: 600px) {
  .FormPageLayout__placeHolder {
    left: 3.5%;
  }
}
@media (max-width: 500px) {
  .FormPageLayout__placeHolder {
    left: 4.2%;
  }
}

@media (max-width: 450px) {
  .FormPageLayout__placeHolder {
    left: 4.6%;
  }
}
@media (max-width: 400px) {
  .FormPageLayout__placeHolder {
    left: 5%;
  }
}

@media (max-width: 350px) {
  .FormPageLayout__placeHolder {
    left: 5.6%;
  }
}

@media (max-width: 300px) {
  .FormPageLayout__placeHolder {
    left: 7%;
  }
}

